<!doctype html>
<!--[if lt IE 7]> <html lang="en-us" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>MtnSun Stout Month</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">


  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

  <link href='http://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'>

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>

  {{#if production}}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27099587-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {{/if}}
</head>

<body>
  <div role="main" id="main" {{#if bodyclass.length}}class="{{bodyclass}}"{{/if}}>

    <header class="topbar">
      <div class="topbar-inner">
        <h1>
        {{#if everyauth.loggedIn}}
          <a href="/stouts">Stout Month</a>
        {{else}}
          <a href="/">Stout Month</a>
        {{/if}}
        </h1>

        {{#if search}}
        <form class="pull-left" action="">
          <input type="text" placeholder="Search">
        </form>
        {{/if}}

        <ul class="nav secondary-nav">
          {{#if everyauth.loggedIn}}
            <li>
              <a href="/me">Profile</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>

            {{else}}

            <li>
              <a href="/auth/facebook">Login</a>
            </li>
          {{/if}}
        </ul>

      </div>
    </header>

    <div class="container">
      {{& body }}
    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>


{{#if production}}
  <script src="/js/src/libs.min.js"></script>
  <script src="/js/src/app.min.js"></script>
{{else}}
  <script src="/js/src/libs.js"></script>
  <script src="/js/src/app.js"></script>
{{/if}}

  <script>
    window.ea_loggedIn = '{{everyauth.loggedIn}}';
    {{#if js_module}}
    require('{{js_module}}');
    {{/if}}
  </script>

</body>
</html>
