<ul id="stout-list" class="stout-list sixteen columns">
  {{#stouts}}
  <li id="{{slug}}">
    <a href="#" class="button" data-slug="{{slug}}">Drink</a>
    <header>
      <h2>{{name}}</h2>
      <dl>
        <dt>ABV:
        <dd>{{abv}}
        <dt>OG:
        <dd>{{og}}
      </dl>
    </header>
    <p class="rating"><a href="/stout/{{slug}}">{{&starRating}}</a></p>
    <a href="/stout/{{slug}}" class="details">Details</a>
    <p class="description">{{description}}</p>
    <span class="counter">0</span>
  </li>
  {{/stouts}}
</ul>
