<ul id="stout-list" class="stout-list sixteen columns">
  {{#stouts}}
  <li id="{{slug}}">
    <a href="#" class="button" data-slug="{{slug}}">Drink</a>
    <header>
      <h2>{{name}}</h2>
      <dl>
        <dt>ABV:
        <dd>{{abv}}
        <dt>OG:
        <dd>{{og}}
        <dt></dt>
        <dd><a href="/stout/{{slug}}#disqus_thread" data-disqus-identifier="{{slug}}"></a></dd>
      </dl>
    </header>
    <p class="rating"><a href="/stout/{{slug}}">{{&starRating}}</a></p>
    <a href="/stout/{{slug}}" class="details">Details</a>
    <p class="description">{{description}}</p>
    <span class="counter">0</span>
  </li>
  {{/stouts}}
</ul>

<h1>Comment on all the things!</h1>
<div id="disqus_thread" class="columns sixteen"></div>

<script type="text/javascript">
    var disqus_shortname = 'stoutmonth';

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>


<script type="text/javascript">
  var
    disqus_shortname  = 'stoutmonth',
    disqus_url        = 'http://stoutmonth.com/stout/',
    disqus_identifier = '';


    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
