<article class="stout-detail columns sixteen">
  <header>
    <h2>{{stout.name}}</h2>
    <p class="rating"><span>{{stout.rating}}</span> {{& stout.starRating}}</p>
    <span class="counter">{{drink.count}}</span>
  </header>


{{#if drink}}

  {{#if drink.my_rating}}
  <h3>My Rating: {{drink.my_rating}}/5</h3>
  {{/if}}

  {{#unless drink.rated}}
  <form id="stout-rating" action="/stout/{{stout.slug}}/rate">
    <h2>Drank it? Rate it.</h2>
    <label>1</label>
    <label>2</label>
    <label>3</label>
    <label>4</label>
    <label>5</label>
    <fieldset>
      <input type="radio" name="rating" value="1">
      <input type="radio" name="rating" value="2">
      <input type="radio" name="rating" value="3">
      <input type="radio" name="rating" value="4">
      <input type="radio" name="rating" value="5">
    </fieldset>
  </form>
  {{/unless}}

{{/if}}

{{#unless everyauth.loggedIn}}

  <h2>Wanna rate it?</h2>
  <a href="/auth/facebook" class="button fb">Sign in with Facebook</a>
{{/unless}}

  <dl>
    <dt>ABV:
    <dd>{{stout.abv}}
    <dt>OG:
    <dd>{{stout.og}}
  </dl>

  <div class="details">
    <p>{{stout.description}}</p>

    {{#if stout.malt}}
    <h3>Malt:</h3>
    <p>{{stout.malt}}</p>
    {{/if}}

    {{#if stout.hops}}
    <h3>Hops:</h3>
    <p>{{stout.hops}}</p>
    {{/if}}
  </div>

</article>

<div id="disqus_thread" class="columns sixteen"></div>
<script type="text/javascript">
  var
    disqus_shortname  = 'stoutmonth',
    disqus_url        = 'http://stoutmonth.com/stout/{{stout.slug}}',
    disqus_identifier = '{{stout.slug}}';


    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript class="columns sixteen">Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{#if everyauth.loggedIn}}
<a href="/stout/{{stout.slug}}/update">Edit</a>
{{/if}}

